.chatCard {
  display: flex;
  margin: 1rem;
  color: #8f99cc;
}

.chatCard-image {
  order: 0;
}

.chatCard-info-container {
  background-color: #4e5b93;
  background-image: linear-gradient(147deg, #4e5b93 0%, #3d4679 74%);
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 9px 11px 8px -6px rgba(0, 0, 0, 0.233);
}
.chatCard-texts {
  text-align: left;
}

.chatCard-time {
  text-align: right;
}
.message-sender {
  margin-left: auto;
  align-self: center;
}

.message-sender > .chatCard-image {
  margin-left: 10px;
  order: 1;
}
