.messageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8f99cc;
  border-bottom: 1px solid #7b83aa46;
  padding: 1rem;
}

.messageCard-image {
  max-width: 20%;
  border-radius: 10px;
}
.messageCard-h4 {
  color: white;
}
.messageCard-info-container {
  margin-left: 1rem;
  flex: 1;
}
.messageCard-notificaton-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}
.messageCard-time {
  font-size: 0.75rem;
  padding-top: 0.35rem;
}

.messageCard-notificaton {
  background-color: lightseagreen;
  padding: 0 5px;
  border-radius: 10px;
}
span {
  color: white;
  font-weight: 800;
}
